/* COLORS */
:root {
    --paint1: #edadc7;
    --paint2: #00c2d1;
    --paint3: #77E6AB;
    --paint4: #f24236;
}

/* PAGE STYLING */
/* ---------------------------------------- */
h1 {
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(73, 76, 78);
    color: rgb(235, 233, 233);
    margin: 0;
    padding: 10px;
}

html {
    margin: 0;

}

body {
    margin: 0;
}
/* BASIC GAME ELEMENT STYLING */
/* ---------------------------------------- */
/* Game Area Style */
#game {
    /* Set Basic Size of Game Area */
    width: 600px;
    height: 204px;
    /* Center Game Area*/
    margin: auto;
    /* Add Border */
    border: 1px solid black;
}

/* Style for Playable Character */
#player {
    /* Set Playable Character Size */
    width: 50px;
    height: 50px;

    /* Set Positioning to Relative to Move Character around Game Area */
    position: relative;
    top: 110px;
    /* Color for Testing - Replace with Img */
    background-color: white;
    border: 3px solid black;
}

/* start button styling */
#start {
    position: relative;
    width: 250px;
    height: 100px;
    left: 175px;
    top: 50px;
    border: 3px solid black;
    font-family: sans-serif;
    font-size: 2em;
}

/* retry button styling */
#retry {
    position: relative;
    width: 250px;
    height: 100px;
    left: 175px;
    top: 10px;
    border: 1px solid black;
}

/* scoreboard container styling */
#score {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: black;
}

/* Scoreboard elements (the word score + number) styling */
#score > * {
    padding: 2px;
}

/* TILES */
/* ----------------------------------------------- */
/* container for tiles */
#tiles {
    display: grid;
    width: 600px;
    height: 55px;
    border: 1px solid black;
    margin: auto;
}

/* characteristics of all tiles */
.tile {
    grid-row: 1;
    grid-column: 1;
    position: relative;
    /* Game Arena Width (starts at right end) */
    left: 600px;
    width: 50px;
    height: 50px;
}

/* standard style */
.tile0 {
    border: 3px solid black;
    background-color: rgb(74, 81, 87);
}

.tile1-filled {
    border: 3px solid black;
    border-right: none;
    background-color: var(--paint1);
}

.tile1-unfilled {
    border: 3px dashed var(--paint1);
    background-color: white;
}

.tile2-filled {
    border: 3px solid black;
    border-right: none;
    background-color: var(--paint2);
}

.tile2-unfilled {
    border: 3px dashed var(--paint2);
    background-color: white;
}

.tile3-filled {
    border: 3px solid black;
    border-right: none;
    background-color: var(--paint3);
}

.tile3-unfilled {
    border: 3px dashed var(--paint3);
    background-color: white;
}

.tile4-filled {
    border: 3px solid black;
    border-right: none;
    background-color: var(--paint4);
}

.tile4-unfilled {
    border: 3px dashed var(--paint4);
    background-color: white;
}
/* PAINT SELECTOR */
/* ----------------------------------------------- */
/* Colors */
/* 1. Pink ( #edadc7 ) */
/* 2. Blue ( #00c2d1 )  */
/* 3. Green ( #77E6AB ) */
/* 4. Red ( #f24236 ) */

/* Style for the paint Selector Container */
#paintContainer{
    display: flex;
    justify-content: center;
    padding: 40px;
}

/* Style for paint selectors */
.paint {
    width: 200px;
    height: 170px;
    border: 1px solid black;
    margin: 15px;
    /* Center Text in Paint Selectors */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
}

/* Style for paint Selector 1 (green) */
#paint1 {
    background-color: var(--paint1);
}

#paint2 {
    background-color: var(--paint2);
}

#paint3 {
    background-color: var(--paint3);
}

#paint4 {
    background-color: var(--paint4);
}

.onSelect {
    border: 3px solid black;
}

/* OBSTACLES */
/* -------------------------------- */
/* base class for obstacle */
.obstacle {
    width: 20px;
    height: 40px;
    position: relative;
    top: 163px; 
}

/* ANIMATIONS */
/* ----------------------------- */
/* jump animation for player - add/remove class for jumping*/
.jump {
    /* run jump animation for 0.4 seconds, linear movement (constant speed) */
    animation: jump 0.4s linear;
}

/* animates tiles to move from right to left */
.moveTile {
    animation: moveTile 2s linear;
}

/* makes obstacle visible and moves obstacle from right to left (obstacle is always visible) */
.obstacleMove {
    background-color: rgb(245, 208, 47);
    border: 1px solid black;  
    animation: obstacleMove 1.5s linear; 
}

@keyframes jump {
    /* player starts 150 px from top (on ground) */
    0% {
      top: 108px;
    }
  
    /* peak height 90 px off ground */
    50% {
      top: 18px;
    }
  
    /* player ends back on the ground */
    100% {
      top: 108px;
    }
}

@keyframes moveTile {
    0% {
        left: 600px;
    }
    100% {
        left: -80px;
    }
}

@keyframes obstacleMove {
    0% {
        left: 580px;
    }

    100% {
        left: -50px;
    }
}