/* PAGE STYLING */
/* ---------------------------------------- */
h1 {
    text-align: center;
}

/* BASIC GAME ELEMENT STYLING */
/* ---------------------------------------- */
/* Game Area Style */
#game {
    /* Set Basic Size of Game Area */
    width: 600px;
    height: 204px;
    /* Center Game Area*/
    margin: auto;
    /* Add Border */
    border: 1px solid black;
}

/* Style for Playable Character */
#player {
    /* Set Playable Character Size */
    width: 50px;
    height: 50px;

    /* Set Positioning to Relative to Move Character around Game Area */
    position: relative;
    top: 150px;
    /* Color for Testing - Replace with Img */
    background-color: white;
    border: 3px solid black;
}
/* ANIMATIONS */
/* ----------------------------- */
/* jump animation for player - add/remove class for jumping*/
.jump {
    /* run jump animation for 0.4 seconds, linear movement (constant speed) */
    animation: jump 0.4s linear;
}

@keyframes jump {
    /* player starts 150 px from top (on ground) */
    0% {
      top: 150px;
    }
  
    20% {
      top: 110px;
    }
  
    /* peak height 90 px off ground */
    50% {
      top: 60px;
    }
  
    80% {
      top: 110px;
    }
  
    /* player ends back on the ground */
    100% {
      top: 150px;
    }
  }